<div class="navbar">
    <ul class="navbar-menu list-disabled">
        <li>
            <a href="">Documentation</a>
        </li>
        <li>
            <a href="">How it works</a>
        </li>
        <li>
            <a href="">FAQ</a>
        </li>
        <li>
            <a href="">Socials</a>
        </li>
    </ul>
    <ul class="navbar-socials list-disabled">

        <li>
            <a href=""><img src="./images/icons/icon-github.png" alt=""></a>
        </li>

        <li>
            <a href=""><img src="./images/icons/icon-github.png" alt=""></a>
        </li>

        <li>
            <a href=""><img src="./images/icons/icon-github.png" alt=""></a>
        </li>

        <li>
            <a href=""><img src="./images/icons/icon-github.png" alt=""></a>
        </li>

        <li>
            <a href=""><img src="./images/icons/icon-github.png" alt=""></a>
        </li>

        <li>
            <a href=""><img src="./images/icons/icon-github.png" alt=""></a>
        </li>

        <li>
            <a href=""><img src="./images/icons/icon-github.png" alt=""></a>
        </li>

        <li>
            <a href=""><img src="./images/icons/icon-github.png" alt=""></a>
        </li>
    </ul>
</div>