<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Natluk Coin</title>

    <link rel="icon" href="./images/icons/icon-Natluk">
    <link rel="stylesheet" href="./styles/css/main.css">
</head>

<body>

    <section class="banner">
        <%- include('./partials/navbar.ejs') %>

        <main>

            <div class="banner-left">

                <header class="header">
                    <div class="header-main">
                        <h1 class="title">Natluk Coin</h1>
                        <img src="./images/icons/icon-Natluk" alt="">
                    </div>
                    <h4 class="motto">Lorem Ipsum (dupa*6)</h4>
                </header>
    
                <ol class="list-disabled">
                    <li><h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4></li>
                    <li><h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4></li>
                    <li><h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4></li>
                </ol>

            </div>
            <div class="banner-right">

            </div>

        </main>


    </section>
    
</body>
</html>