$navbar-height: 4em;
$navbar-maxWidth-pc: 1240px;
$navbar-maxWidth-tablet: 900px;
.navbar {
    height: $navbar-height;
    width: 90%;
    max-width: $navbar-maxWidth-pc;

    margin: 2rem auto 4rem auto;

    display: flex;
    gap: 4rem;

    &-menu {
        height: fit-content;
        width: 100%;
        margin: auto;

        position: relative;
        
        li {
            height: fit-content;

            a {
                padding: 0.75rem 1.5rem;
                
                text-align: center;
                font-size: 1.3em;

                position: relative;
                &::before {
                    content: '';
                    width: 100%;
                    height: 1px;

                    position: absolute;
                    left: 0;
                    bottom: 0;

                    background-color: rgba(gold, 0.9);
                    transition: all .05s cubic-bezier(0.075, 0.82, 0.165, 1);
                    transform: scale(0);

                }
                &:hover::before {
                    transform: scale(1);
                }
            }
        }

        &::before {
            content: '';
            width: 100%;
            height: 1px;

            position: absolute;
            left: 0;
            bottom: 0;

            background-color: rgba(white, 0.5);
        }
    }

    &-socials {
        height: 100%;
        width: 65%;
        max-width: 95%;
        margin-right: 1.5rem;

        li {
            a {
                

                img {
                    height: 1.75rem;
                    width: 1.75rem;
                }
            }
        }
    }


    @media (max-width: 1200px) {
        height: fit-content;
        max-width: $navbar-maxWidth-tablet;

        flex-direction: column;
        gap: 1.5rem;

        &-socials {
            height: 100%;
            width: fit-content;
            margin: auto;

            gap: 1rem;
        }
    }

    @media (max-width: 700px) {
        
        
        &-menu {
            font-size: 0.7rem;

            li {    
                a {
                    padding: 0.5rem 1rem;
                }
            }

        }
        &-socials {
            flex-wrap: wrap;
        }
    }

    @media (max-width: 400px) {
        
        
        &-menu {
            font-size: 0.55rem;

            li {    
                a {
                    padding: 0.5rem 0.5rem;
                }
            }

        }
        &-socials {
            flex-wrap: wrap;
        }
    }
}