$font-main: 'Chivo', sans-serif;
body {
    font-size: 16px;
    font-family: $font-main;

    color: rgba(white, 0.85);
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    margin: auto;
}
h1 {
    font-size: 2.5em;
}
h2 {
    font-size: 2.2em;
}
h3 {
    font-size: 1.9em;
}
h4 {
    font-size: 1.6em;
}
h5 {
    font-size: 1.3em;
}
h6 {
    font-size: 1em;
}
p {

}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
.list-disabled {
    list-style: none;
    padding: 0;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    li {
        height: fit-content;
        width: fit-content;

        display: flex;
    }
}